<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/Design.css" />
    <link rel="stylesheet" href="~/Scripts/global.js" />
    <link rel="stylesheet" href="~/Content/DesignIndex.css" />
    <link rel="stylesheet" href="~/Content/DesignContact.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Design.css">
    <script language="javascript" type="text/javascript" src="../../Scripts/javascript.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="crossorigin=""></script>


    <title>@ViewBag.Title - BioTourist</title>

    @Styles.Render("~/Content/css") <!-- Contient le code bootstrap.css-->
    @Scripts.Render("~/bundles/modernizr") <!-- Contient le code Bootstrap.js-->
    @Scripts.Render("~/bundles/JavaScript")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="colorHeader">
        <a class="navbar-brand">
            <img src="~/Images/LogoBio.png" title="BioTourist" alt="BioTourist" class="Logo" />
            <img src="~/Images/SloganBio.png" title="SloganBioTourist" alt="SloganBioTourist" class="Slogan" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    @Html.ActionLink("Accueil", "Index", "Home", null, new {@class= "nav-link "})
                </li>
                <li class="nav-item">
                    @Html.ActionLink("S'inscrire", "Inscription", "User", null, new {@class= "nav-link "})
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Connexion", "Connection", "User", null, new {@class= "nav-link "}))
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contact", "Contact", "User", null, new {@class= "nav-link "}))
                </li>
                <li class="nav-item">
                        @if (Session["SessionEmail"] != null){
                        @Html.ActionLink("Ton profil", "UserProfile", "User")
                        }
                </li>
            </ul>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>


    <div class="ContainerFooter">

        <footer>

            <img src="~/Images/LogoBio.png" title="BioTourist" alt="BioTourist" class="Logo" />

            <p>&copy; @DateTime.Now.Year - BioTourist - Le bio à porter de main 2019</p>

        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        function redirect() {
            location.href = "http://localhost:44339/Home/Contact";
        }
    </script>

</body>
</html>
