@model Bio_Tourist.Models.User

<h2>Connexion</h2>

@using (Html.BeginForm("Verify","User"))
{
    <form>
        <div class="form-group">
            @Html.LabelFor(m => m.EMAIL_USER)
            @Html.TextBoxFor(m => m.EMAIL_USER, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.EMAIL_USER)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PASSWORD_USER)
            @Html.PasswordFor(m => m.PASSWORD_USER, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.PASSWORD_USER)
        </div>

        <input type="submit" value="Connexion" class="btn btn-primary"/>
    </form>
}