@model Bio_Tourist.Models.User
<link rel="stylesheet" href="~/Content/main.css" />
<script language="javascript" type="text/javascript" src="../../Scripts/javascript.js"></script>
@using (Html.BeginForm("Verify", "User"))
{
    <div class="page-wrapper Color_User p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Connection</h2>
                    <form method="POST">
                        <div class="row">

                            <div class="input-group ">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    @Html.LabelFor(m => m.EMAIL_USER)
                                    @Html.TextBoxFor(m => m.EMAIL_USER, new { htmlAttributes = new { @class = "input--style-2" } })
                                    @Html.ValidationMessageFor(m => m.EMAIL_USER)
                                </div>
                            </div>


                            <div class="input-group ">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    @Html.LabelFor(m => m.PASSWORD_USER)
                                    @Html.PasswordFor(m => m.PASSWORD_USER, new { htmlAttributes = new { @class = "input--style-2" } })
                                    @Html.ValidationMessageFor(m => m.PASSWORD_USER)
                                </div>
                            </div>
                            <div class="p-t-30">
                                <input type="submit" value="Connexion" class="btn btn--radius btn--green" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
