@using System.Web.UI.WebControls
@using Bio_Tourist.Controllers
@model Bio_Tourist.Models.User


<script language="javascript" type="text/javascript" src="../../Scripts/javascript.js"></script>
<h2>Inscription</h2>

@using (Html.BeginForm("Register", "User"))
{

    <div runat="server">
        Sexes:

        @Html.DropDownListFor(m => m.CIVILITY_USER, new List<SelectListItem>
        {
            new SelectListItem() {Text = "Homme", Value="Homme"},
            new SelectListItem() {Text = "Femme", Value="Femme"}
        })
        @Html.ValidationMessageFor(m => m.CIVILITY_USER)
    </div>

    <div>
        @Html.LabelFor(m => m.ID_ROLE)
        @Html.DropDownListFor(m => m.ID_ROLE, UserController.DROPDOWN_LIST())
        @Html.ValidationMessageFor(m => m.ID_ROLE)
    </div>

    <div>
        @Html.TextBoxFor(m => m.LAST_NAME_USER, new { @class = "form-control", placeholder = "Nom", required = "required", TextReader = "holala" })
        @Html.ValidationMessageFor(m => m.LAST_NAME_USER)
    </div>

    <div>
        @Html.TextBoxFor(m => m.FIRST_NAME_USER, new { @class = "form-control", placeholder = "Prénom", required = "required" })
        @Html.ValidationMessageFor(m => m.FIRST_NAME_USER)
    </div>

    <div>
        @Html.TextBoxFor(m => m.AGE_USERS, new { @class = "form-control", placeholder = "Age", required = "required" })
        @Html.ValidationMessageFor(m => m.AGE_USERS)
    </div>

    <div>
        @Html.TextBoxFor(m => m.EMAIL_USER, new { @class = "form-control", placeholder = "Email", required = "required" })
        @Html.ValidationMessageFor(m => m.EMAIL_USER)
    </div>

    <div>
        @Html.TextBoxFor(m => m.PASSWORD_USER, new { @class = "form-control", placeholder = "Mot de Passe", name = "PASSWORD_USER", id = "PASSWORD_USER", type = "PASSWORD" })
        @Html.ValidationMessageFor(m => m.PASSWORD_USER)
    </div>

    <div>
        @Html.TextBoxFor(m => m.CONFIRMING_PASSWORD, new { @class = "form-control", placeholder = "Confirmer le mot de Passe", type = "PASSWORD", name = "CONFIRMING_PASSWORD", id = "CONFIRMING_PASSWORD", onblur = "checkPassword();" })
        @Html.ValidationMessageFor(m => m.CONFIRMING_PASSWORD)
        <span id='message'></span>
    </div>

    <div>
        @Html.TextBoxFor(m => m.NUM_USER, new { @class = "form-control", placeholder = "Numéro de Télephone", required = "required" })
        @Html.ValidationMessageFor(m => m.NUM_USER)
    </div>

    <div>
        @Html.TextBoxFor(m => m.NUM_STREET, new { @class = "form-control", placeholder = "Numero de la Rue", required = "required" })
        @Html.ValidationMessageFor(m => m.NUM_STREET)
    </div>

    <div>
        @Html.TextBoxFor(m => m.NAME_STREET, new { @class = "form-control", placeholder = "Nom de la Rue", required = "required" })
        @Html.ValidationMessageFor(m => m.NAME_STREET)
    </div>

    <div>
        @Html.TextBoxFor(m => m.POSTAL_CODE, new { @class = "form-control", placeholder = "Code Postal", required = "required" })
        @Html.ValidationMessageFor(m => m.POSTAL_CODE)
    </div>

    <div>
        @Html.TextBoxFor(m => m.CITY_USER, new { @class = "form-control", placeholder = "Ville", required = "required" })
        @Html.ValidationMessageFor(m => m.CITY_USER)
    </div>

    <div>
        @Html.TextBoxFor(m => m.COUNTRY_USER, new { @class = "form-control", placeholder = "Pays", required = "required" })
        @Html.ValidationMessageFor(m => m.COUNTRY_USER)
    </div>

    <input asp:Button runat="server" type="submit" value="Inscription" />

}



