@model Bio_Tourist.Models.User

<h2>Inscription</h2>

@using (Html.BeginForm("Register", "User"))
{
    <div>
        @Html.LabelFor(m => m.CIVILITY_USER)
        @Html.TextBoxFor(m => m.CIVILITY_USER)
        @Html.ValidationMessageFor(m => m.CIVILITY_USER)
    </div>

    <div>
        @Html.LabelFor(m => m.FIRST_NAME_USER)
        @Html.TextBoxFor(m => m.FIRST_NAME_USER)
        @Html.ValidationMessageFor(m => m.FIRST_NAME_USER)
    </div>

 

    <div>
        @Html.LabelFor(m => m.AGE_USERS)
        @Html.TextBoxFor(m => m.AGE_USERS)
        @Html.ValidationMessageFor(m => m.AGE_USERS)
    </div>

    <div>
        @Html.LabelFor(m => m.EMAIL_USER)
        @Html.TextBoxFor(m => m.EMAIL_USER)
        @Html.ValidationMessageFor(m => m.EMAIL_USER)
    </div>

    <div>
        @Html.LabelFor(m => m.PASSWORD_USER)
        @Html.PasswordFor(m => m.PASSWORD_USER)
        @Html.ValidationMessageFor(m => m.PASSWORD_USER)
    </div>

    <div>
        @Html.LabelFor(m => m.NUM_USER)
        @Html.TextBoxFor(m => m.NUM_USER)
        @Html.ValidationMessageFor(m => m.NUM_USER)
    </div>

    <div>
        @Html.LabelFor(m => m.NUM_STREET)
        @Html.TextBoxFor(m => m.NUM_STREET)
        @Html.ValidationMessageFor(m => m.NUM_STREET)
    </div>

    <div>
        @Html.LabelFor(m => m.NAME_STREET)
        @Html.TextBoxFor(m => m.NAME_STREET)
        @Html.ValidationMessageFor(m => m.NAME_STREET)
    </div>

    <div>
        @Html.LabelFor(m => m.POSTAL_CODE)
        @Html.TextBoxFor(m => m.POSTAL_CODE)
        @Html.ValidationMessageFor(m => m.POSTAL_CODE)
    </div>

    <div>
        @Html.LabelFor(m => m.CITY_USER)
        @Html.TextBoxFor(m => m.CITY_USER)
        @Html.ValidationMessageFor(m => m.CITY_USER)
    </div>

    <div>
        @Html.LabelFor(m => m.COUNTRY_USER)
        @Html.TextBoxFor(m => m.COUNTRY_USER)
        @Html.ValidationMessageFor(m => m.COUNTRY_USER)
    </div>

    <input type="submit" value="Inscription" />
}