@model Bio_Tourist.Models.User

<br /><br />

<div class="container container-fluid">

    @if (Session["SessionEmail"] != null)
    {

            <div class="row">

                <div class="col-6">
                    <h1>Modifier les informations</h1>
                </div>

            </div>

            <br /><br /><br />

            <div class="row">                             

                <div class="col-6">
                    @using (Html.BeginForm("ModifyEmail", "User"))
                    {

                        @Html.LabelFor(p => p.EMAIL_USER)
                        <br />
                        @Html.EditorFor(p => p.EMAIL_USER, new { htmlAttributes = new { @class = "input--style-2", type = "email", required = "required" } })
                        @Html.ValidationMessageFor(p => p.EMAIL_USER)

                        <input type="submit" value="Modifier l'Email" class="" />

                    }
             
                    <br/><br />

                    @using (Html.BeginForm("ModifyPassword", "User"))
                    {
                        @Html.LabelFor(p => p.PASSWORD_USER)
                        <br />
                        @Html.EditorFor(p => p.PASSWORD_USER, new { htmlAttributes = new { @class = "input--style-2", type = "password", required = "required" } })
                        @Html.ValidationMessageFor(p => p.PASSWORD_USER)

                        <input type="submit" value="Modifier le mot de passe" class="" />
                    }
                </div>   
                
            </div>
        
    }

    @if (Session["SessionEmail"] == null)
    {
        <br />
        <br />
        <h2 class="text-danger">Vous n'êtes pas conneter</h2>
        <br />
        <br />
    }
</div>