@model Bio_Tourist.Models.User


@using Bio_Tourist.Models

@{ 

    Cls_Role role = new Cls_Role();

}

<div class="container container-fluid">

    @if (Session["SessionEmail"] != null)
    {
    <h2>Vous êtes connecté avec le compte @Session["SessionEmail"]</h2>

        <table class="table table-responsive table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Age</th>
                    <th>N°</th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Pays </th>
                    <th>Adresse e-mail</th>
                    <th>Civilité</th>
                    <th> Statut </th>
                </tr>
            </thead>
            <tbody>


                @foreach (var ProfileDetails in Model.ProfileModel)
                
                {
                <tr>
                    <td>@ProfileDetails.LAST_NAME_USER</td>
                    <td>@ProfileDetails.FIRST_NAME_USER</td>
                    <td>@ProfileDetails.AGE_USERS</td>
                    <td>@ProfileDetails.NUM_STREET</td>
                    <td>@ProfileDetails.NAME_STREET</td>
                    <td>@ProfileDetails.POSTAL_CODE</td>
                    <td>@ProfileDetails.CITY_USER</td>
                    <td>@ProfileDetails.COUNTRY_USER</td>
                    <td>@ProfileDetails.EMAIL_USER</td>
                    <td>@ProfileDetails.CIVILITY_USER</td>
                    <td>@ProfileDetails.ID_ROLE</td>


                </tr>
                }
            </tbody>
        </table>
    }

    @if (Session["SessionEmail"] == null)
    {
        <h2 class="text-danger">Vous n'êtes pas connecter</h2>
    }
</div>