@model Bio_Tourist.Models.T_AD

@{
    ViewBag.Title = "Details";
}


@using Bio_Tourist.Models

@{

    T_PRODUCT Product = new T_PRODUCT();

}

@Session["SessionEmail"]

<h2>Afficher une annonce </h2>

<div>

    <hr />
    <dl class="dl-horizontal">



        <dt>
            @Html.DisplayNameFor(model => model.DATE_AD)
        </dt>

        <dd>
            @if (Model != null)
            {
                @Html.Raw(TimeAnnounces.TimeAgo(Model.DATE_AD))
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TITLE_AD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITLE_AD)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.ADRESS_AD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADRESS_AD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CITY_AD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CITY_AD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COUNTRY_AD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COUNTRY_AD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION_AD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION_AD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PICTURES_AD)
        </dt>
        <dd>
            <img src="@Html.DisplayFor(model => model.PICTURES_AD)" name="Fichier" id="Images" runat="server" width="100" height="80" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NAME_AD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME_AD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_PRODUCT.CATEGORIE_PRODUCT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_PRODUCT.CATEGORIE_PRODUCT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.STOCK_AD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STOCK_AD)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.QUANTITY_AD)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QUANTITY_AD)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PRICE_AD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRICE_AD)
        </dd>
    </dl>
</div>
<div class="text-center">
    @Html.ActionLink("Retour à la liste des annonces", "ListAnnounces") | @Html.ActionLink("Modifier", "Edit")
</div>
